In [1]:
import os, csv

In [2]:
import pandas as pd

In [5]:
csv_1 = 'Resources/JC-201901-citibike-tripdata.csv'
csv_1_df = pd.read_csv(csv_1)
csv_1_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [17]:
csv_2 = 'Resources/JC-201902-citibike-tripdata.csv'
csv_2_df = pd.read_csv(csv_2, skiprows=1, header=None)
csv_2_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1

In [32]:
csv_12_df = csv_1_df.append(csv_1_df)
csv_12_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [36]:
csv_3 = 'Resources/JC-201903-citibike-tripdata.csv'
csv_3_df = pd.read_csv(csv_3, skiprows=1, header=None)
csv_3_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1
1,123,2019-03-01 07:30:53.0220,2019-03-01 07:32:56.7770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,1
2,328,2019-03-01 08:18:30.4030,2019-03-01 08:23:59.0590,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,2
3,95,2019-03-01 11:04:47.2020,2019-03-01 11:06:22.8130,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,1
4,169,2019-03-01 11:51:29.4170,2019-03-01 11:54:19.2120,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,1

In [70]:
csv_123_df = csv_12_df.append(csv_3_df)
csv_123_df.head()

,0,1,2,3,4,5,6,7,8,9,...,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Essex Light Rail,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,201.0,Subscriber
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Washington St,2.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,505.0,Subscriber
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Liberty Light Rail,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,756.0,Subscriber
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Washington St,0.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,1575.0,Customer
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Washington St,0.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,1566.0,Customer

In [69]:
#csv_123_df.drop(columns=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14])
csv_123_df.drop(df.iloc[:, 1:3], inplace = True, axis = 1)

,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,29612.0,1993.0,3214.0,40.712774,-74.036486,Essex Light Rail,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,201.0,Subscriber
1,29213.0,1972.0,3638.0,40.724294,-74.035483,Washington St,2.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,505.0,Subscriber
2,26164.0,1985.0,3192.0,40.711242,-74.055701,Liberty Light Rail,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,756.0,Subscriber
3,29672.0,1969.0,3638.0,40.724294,-74.035483,Washington St,0.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,1575.0,Customer
4,29522.0,1969.0,3638.0,40.724294,-74.035483,Washington St,0.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,1566.0,Customer
5,29447.0,1993.0,3205.0,40.716540,-74.049638,JC Medical Center,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 12:56:53.2040,2019-01-01 13:09:11.0400,737.0,Subscriber
6,29299.0,1986.0,3277.0,40.714358,-74.066611,Communipaw & Berry Lane,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 13:03:44.7760,2019-01-01 13:19:02.7690,917.0,Subscriber
7,29495.0,1992.0,3196.0,40.744319,-74.043991,Riverview Park,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 13:12:03.1280,2019-01-01 14:06:12.0400,3248.0,Subscriber
8,26312.0,1969.0,3196.0,40.744319,-74.043991,Riverview Park,0.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 13:13:12.0450,2019-01-01 14:06:00.4110,3168.0,Customer
9,26212.0,1994.0,3202.0,40.727224,-74.033759,Newport PATH,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 17:07:44.6670,2019-01-01 17:13:38.2640,353.0,Subscriber
10,29661.0,1992.0,3202.0,40.727224,-74.033759,Newport PATH,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 17:34:50.9580,2019-01-01 17:43:14.3190,503.0,Customer
11,29544.0,1990.0,3267.0,40.712419,-74.038526,Morris Canal,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 18:06:03.1680,2019-01-01 18:10:48.5380,285.0,Subscriber
12,29307.0,1996.0,3638.0,40.724294,-74.035483,Washington St,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 20:05:04.5760,2019-01-01 20:08:53.8630,229.0,Subscriber
13,29217.0,1993.0,3214.0,40.712774,-74.036486,Essex Light Rail,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 21:04:58.8810,2019-01-01 21:08:30.5600,211.0,Subscriber
14,29453.0,1987.0,3183.0,40.716247,-74.033459,Exchange Place,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 21:52:09.2980,2019-01-01 21:54:00.4550,111.0,Subscriber
15,29286.0,1987.0,3183.0,40.716247,-74.033459,Exchange Place,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-01 21:54:27.9360,2019-01-01 22:05:31.8800,663.0,Subscriber
16,29453.0,1960.0,3681.0,40.715178,-74.037683,Grand St,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-02 00:08:06.5510,2019-01-02 00:15:38.0940,451.0,Subscriber
17,29608.0,1977.0,3270.0,40.725289,-74.045572,Jersey & 6th St,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-02 07:17:22.2050,2019-01-02 07:29:45.1610,742.0,Subscriber
18,29122.0,1966.0,3184.0,40.714145,-74.033552,Paulus Hook,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-02 07:55:53.5040,2019-01-02 07:57:54.9410,121.0,Subscriber
19,26202.0,1986.0,3185.0,40.717733,-74.043845,City Hall,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-02 08:09:38.7570,2019-01-02 08:14:23.6940,284.0,Subscriber
20,29602.0,1975.0,3681.0,40.715178,-74.037683,Grand St,2.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-02 08:18:36.9570,2019-01-02 08:20:37.9440,120.0,Subscriber
21,29228.0,1975.0,3184.0,40.714145,-74.033552,Paulus Hook,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-02 08:25:25.9610,2019-01-02 08:26:41.4140,75.0,Subscriber
22,26278.0,1969.0,3639.0,40.719252,-74.034234,Harborside,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-02 08:47:54.6750,2019-01-02 08:49:47.9970,113.0,Subscriber
23,26288.0,1982.0,3186.0,40.719586,-74.043117,Grove St PATH,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-02 10:39:26.6940,2019-01-02 10:42:34.6680,187.0,Subscriber
24,29641.0,1984.0,3267.0,40.712419,-74.038526,Morris Canal,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-02 10:57:36.4500,2019-01-02 11:01:55.7620,259.0,Subscriber
25,29252.0,1981.0,3207.0,40.737604,-74.052478,Oakland Ave,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-02 11:45:40.3390,2019-01-02 12:01:49.4380,969.0,Subscriber
26,29484.0,1988.0,3272.0,40.723332,-74.045953,Jersey & 3rd,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-02 12:12:43.7790,2019-01-02 12:18:39.1990,355.0,Subscriber
27,29293.0,1981.0,3186.0,40.719586,-74.043117,Grove St PATH,2.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-02 12:22:12.8260,2019-01-02 12:27:01.5450,288.0,Subscriber
28,29286.0,1969.0,3183.0,40.716247,-74.033459,Exchange Place,0.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-02 12:27:14.6360,2019-01-02 13:10:37.2240,2602.0,Customer
29,26208.0,1971.0,3183.0,40.716247,-74.033459,Exchange Place,1.0,3183.0,40.716247,-74.033459,Exchange Place,2019-01-02 12:32:56.9960,2019-01-02 12:55:37.7920,1360.0,Customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

AttributeError: 'NoneType' object has no attribute 'head'

In [ ]:
csv_123_df.to_csv(r'./Resources/full_df.csv', index=False)